USE [ELIBAPI]
GO
/****** Object:  Table [PrintBook].[Book_Group]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Book_Group](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Bib_Id1] [bigint] NULL,
	[Bib_Id2] [bigint] NULL,
	[Link] [int] NULL,
	[Mode] [int] NULL,
	[Fieldid] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Book_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[book_group_detail]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[book_group_detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Book_Group_Id] [bigint] NULL,
	[Bibid] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_book_group_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BookIn]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[BookIn](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[Barcode] [nvarchar](50) NULL,
	[BorrowDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[UserId] [int] NULL,
	[Note] [nvarchar](500) NULL,
	[BookOutId] [bigint] NULL,
	[Renew] [int] NULL,
	[CircPlace] [bigint] NULL,
	[StoreId] [bigint] NULL,
	[FineValue] [float] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_BookIn_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BookIn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BookOut]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[BookOut](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[BorrowDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[UserId] [bigint] NULL,
	[Renew] [int] NULL CONSTRAINT [DF__TableBook__TRIAL__023D5A04]  DEFAULT ((0)),
	[Note] [nvarchar](500) NULL,
	[CircPlace] [int] NULL,
	[Barcode] [varchar](50) NULL,
	[RequestId] [bigint] NULL,
	[Status] [varchar](50) NULL,
	[Reg_Seq_Id] [bigint] NULL,
	[Store] [bigint] NULL,
	[Update_By] [bigint] NULL,
	[FineValue] [float] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_BookOut_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableBookInOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[BookRequest]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[BookRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[BorrowDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
	[CircPlace] [int] NULL,
	[Barcode] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[UserId] [bigint] NULL,
	[FineValue] [float] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BookRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Budget]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Budget](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Blance] [float] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Note] [nvarchar](100) NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Budget] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[C_Fine]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[C_Fine](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NOT NULL,
	[FineDate] [datetime] NOT NULL,
	[Fine_type_id] [nvarchar](200) NOT NULL,
	[Returndate] [datetime] NULL,
	[Note] [nvarchar](200) NULL,
	[Value] [float] NULL,
	[Fine_method_id] [int] NULL,
	[Borrow_Id] [bigint] NULL,
	[BorrowDate] [datetime] NULL,
	[Created_by] [int] NULL,
	[Barcode] [varchar](50) NULL,
	[Lanphat] [int] NULL,
	[Bibid] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Fine_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[c_fine_method]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[c_fine_method](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_c_fine_method_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_c_fine_method] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[C_Fine_type]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[C_Fine_type](
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Status_Reg_Id] [varchar](50) NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_C_Fine_type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[C_photo]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[C_photo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](50) NULL,
	[Reader_Id] [bigint] NULL,
	[Frompage] [int] NULL,
	[ToPage] [int] NULL,
	[Price] [float] NULL,
	[PhotoDate] [datetime] NULL,
	[Copy] [int] NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_c_photo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[c_queue_status]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[c_queue_status](
	[Type] [int] NULL,
	[Id] [int] NOT NULL,
	[Status] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_c_queue_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[C_renew]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[C_renew](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Borrow_id] [bigint] NULL,
	[Reg_Seq_Id] [bigint] NULL,
	[Reg_Id] [varchar](50) NULL,
	[Circ_Place_Id] [int] NULL,
	[Status_Id] [int] NULL,
	[Renew_Date] [datetime] NULL,
	[Duedate_Request] [datetime] NULL,
	[Active] [int] NULL,
	[Status_Email] [int] NULL,
	[Renew_Date_Num] [int] NULL,
	[Borrow_Date] [datetime] NULL,
	[Duedate] [datetime] NULL,
	[Reader_Id] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_C_renew] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[C_renew_data]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[C_renew_data](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Borrow_id] [bigint] NULL,
	[Reg_Seq_Id] [bigint] NULL,
	[Reg_Id] [varchar](50) NULL,
	[Renew_Date] [datetime] NULL,
	[Due_Date_Old] [datetime] NULL,
	[Due_Date_New] [datetime] NULL,
	[Borrow_Date] [datetime] NULL,
	[Reader_Id] [bigint] NULL,
	[Created_By] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_C_renew_data] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Cabinet]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Cabinet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Code] [varchar](100) NULL,
	[CircPlaceId] [bigint] NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Cabinet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[CheckIn]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[CheckIn](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Readerid] [bigint] NULL,
	[UserId] [bigint] NULL,
	[CheckInTime] [datetime] NULL,
	[StoreId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CheckIn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[CheckOut]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[CheckOut](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[UserId] [bigint] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[StoreId] [bigint] NULL,
	[CheckInId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CheckOut] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[CircPlace]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[CircPlace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Work_Session] [nvarchar](300) NULL,
	[Cir_Type] [int] NULL,
	[Cir_Work_Follow] [int] NULL,
	[Access_Request_Validtime] [int] NULL,
	[Limit_Book] [int] NULL,
	[Vitual] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CircPlace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[config_aacr2]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[config_aacr2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bib_Type_Id] [int] NULL,
	[Used_Type_Id] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_config_aacr2_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_config_aacr2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Config_Isbd]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Config_Isbd](
	[Id] [int] NOT NULL,
	[Bib_Type_Id] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Config_Isbd_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_config_isbd] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Countries]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Countries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Countries_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[d_bib_status]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[d_bib_status](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Opac_Name] [nvarchar](100) NULL,
	[English] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_d_bib_status_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_d_bib_statú] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[d_key]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[d_key](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_d_key] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[D_Publisher]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[D_Publisher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Publisher] [nvarchar](100) NOT NULL,
	[Place] [nvarchar](1000) NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_D_Publisher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[DFixField]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DFixField](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VnDescription] [nvarchar](300) NULL,
	[Description] [varchar](300) NULL,
	[Field] [varchar](50) NULL,
	[Marc_Type_Id] [bigint] NULL,
	[Material_Type_Id] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DFixField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[DFixFieldPost]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DFixFieldPost](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PostNumber] [int] NULL,
	[PostLengh] [int] NULL,
	[FixFieldId] [bigint] NULL,
	[VnDesciption] [nvarchar](300) NULL,
	[Description] [varchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DFixFieldPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[DFixFieldValue]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[DFixFieldValue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FixFieldPostId] [bigint] NULL,
	[Value] [nvarchar](500) NULL,
	[VnDescription] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DFixFieldValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[DicAuthor]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DicAuthor](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[AccessName] [nvarchar](100) NULL,
	[UnsignName] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DicAuthor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[DicClass]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DicClass](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Type] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_DicClass_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[DicKeyword]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DicKeyword](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](150) NULL,
	[AccessName] [nvarchar](150) NULL,
	[UnsignName] [varchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dicKeyword] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[DicPublisher]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[DicPublisher](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](150) NULL,
	[AccessName] [nvarchar](150) NULL,
	[UnsignName] [varchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dicPublisher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[fixed_field_value]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[fixed_field_value](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Bibid] [bigint] NULL,
	[Field] [varchar](50) NULL,
	[Value] [varchar](500) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_fixed_field_value_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_fixed_field_value] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[FrequencyMagazine]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[FrequencyMagazine](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[DV] [bigint] NULL,
	[SoTrenDV] [int] NULL,
	[DVTrenSo] [int] NULL,
	[NgayPhatHanh] [varchar](300) NULL,
	[Order] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FrequencyMagazine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Fund]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Fund](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Manager] [nvarchar](100) NULL,
	[Note] [nvarchar](200) NULL,
	[Purpose] [nvarchar](200) NULL,
	[Blane] [float] NULL,
	[BudgetId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Func] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[GeographicAreas]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[GeographicAreas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_GeographicAreas_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GeographicAreas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Inventory]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Inventory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InventoryName] [nvarchar](300) NULL,
	[Submited] [datetime] NULL,
	[Status] [int] NULL,
	[UserId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[InventoryBarcode]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[InventoryBarcode](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](50) NULL,
	[StoreId] [bigint] NULL,
	[InventoryId] [bigint] NULL,
	[CheckStoreStatus] [int] NULL,
	[CheckStatus] [int] NULL,
	[CheckBorrow] [int] NULL,
	[CheckRegisteter] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_InventoryBarcode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[isbd_field]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[isbd_field](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Config_Id] [int] NULL,
	[Field] [varchar](50) NULL,
	[Starttp] [varchar](50) NULL,
	[Stoptp] [varchar](50) NULL,
	[Fieldindex] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_isbd_field_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_isbd_field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[isbd_subfield]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[isbd_subfield](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Config_Id] [int] NULL,
	[Field] [varchar](50) NULL,
	[Subfield] [varchar](50) NULL,
	[Starttp] [varchar](50) NULL,
	[Stoptp] [varchar](50) NULL,
	[Nexttp] [varchar](50) NULL,
	[Subfieldindex] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_isbd_subfield_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_isbd_subfield] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Key]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Key](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Machiakhoa] [varchar](50) NULL,
	[Tenchiakhoa] [nvarchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_key] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[KeyIn]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[KeyIn](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Keyid] [bigint] NULL,
	[Readerid] [bigint] NULL,
	[BorrowDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[Userid] [bigint] NULL,
	[Note] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_keyin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[KeyOut]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[KeyOut](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Keyid] [bigint] NULL,
	[Readerid] [bigint] NULL,
	[BorrowDate] [datetime] NULL,
	[Userid] [bigint] NULL,
	[Note] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_keyout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[KiemKe]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[KiemKe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Dkcb] [varchar](50) NOT NULL,
	[StoreId] [int] NOT NULL,
	[Submited] [datetime] NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_KiemKe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Language]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Language](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[LinhVucNghienCuu]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[LinhVucNghienCuu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Ma] [varchar](100) NULL,
	[ParentId] [int] NULL,
	[GhiChu] [nvarchar](150) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LinhVucNghienCuu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Log_BienMuc]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Log_BienMuc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Submited] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[BibId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Log_BienMuc_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[LostBook]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[LostBook](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](50) NULL,
	[Submited] [datetime] NULL,
	[Store] [bigint] NULL,
	[CreatedBy] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LostBook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Lydophat]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Lydophat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Lydophat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[MagazineType]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[MagazineType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_MagazineType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MagazineType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[marc_code_list]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[marc_code_list](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Desvn] [nvarchar](200) NOT NULL,
	[Desta] [nvarchar](200) NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_marc_code_list_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Phanloai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Marc_Field]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Marc_Field](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Field] [varchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Vndescription] [nvarchar](250) NULL,
	[Repeatable] [int] NULL,
	[MANDATORY] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Marc_Field_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Marc_Field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Marc_Indicator]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Marc_Indicator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[INDICATOR] [varchar](50) NULL,
	[Value] [varchar](50) NULL,
	[Description] [nvarchar](300) NULL,
	[VNDESCRIPTION] [nvarchar](300) NULL,
	[Field_Id] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Marc_Indicator_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_marc_indicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Marc_SubField]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Marc_SubField](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Field] [varchar](50) NULL,
	[Subfield] [varchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Vndescription] [nvarchar](250) NULL,
	[Repeatable] [int] NULL,
	[MANDATORY] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Marc_SubField_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MarcFieldInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[MarcBibLevel]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[MarcBibLevel](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_MarcBibLevel_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MARCBIBLEVEL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[MarcRecordType]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[MarcRecordType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MarcTypeCode] [varchar](100) NULL,
	[RecordTypeCode] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MarcRecodeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[MarcType]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[MarcType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_MarcType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MARCTYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[MaterialsType]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[MaterialsType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_MaterialsType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MATERIALSTYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Order_Status]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Order_Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Order_Status_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_order_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[PartemMagazineDetail]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[PartemMagazineDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PatternId] [bigint] NULL,
	[X] [nvarchar](100) NULL,
	[Y] [nvarchar](100) NULL,
	[Z] [nvarchar](100) NULL,
	[StepX] [int] NULL,
	[StepY] [int] NULL,
	[StepZ] [int] NULL,
	[RepeatX] [int] NULL,
	[RepeatY] [int] NULL,
	[RepeatZ] [int] NULL,
	[MaxX] [int] NULL,
	[MaxY] [int] NULL,
	[MaxZ] [int] NULL,
	[ResetX] [int] NULL,
	[ResetY] [int] NULL,
	[ResetZ] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PartemMagazineDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[PatternMagazine]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[PatternMagazine](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[Description] [nvarchar](300) NULL,
	[Function] [nvarchar](200) NULL,
	[Order] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatternMagazine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[PhongBan]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[PhongBan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[PolicyCirc]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[PolicyCirc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReaderType] [int] NULL,
	[CircPlace] [int] NULL,
	[NumberOfDate] [int] NULL,
	[NumberOfRenew] [int] NULL,
	[NumberOfBook] [int] NULL,
	[NumberOfRequest] [int] NULL,
	[Muontrung] [int] NULL,
	[Store] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PolicyCirc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[PrintBookandDigital]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[PrintBookandDigital](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BibId] [bigint] NULL,
	[EbookId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PrintBookandDigital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Private]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Private](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ModuleId] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Private] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Receipt_Status]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[Receipt_Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Receipt_Status_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_receipt_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[RECORDTYPE]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[RECORDTYPE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[VnDescription] [nvarchar](200) NULL,
	[Description] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_RECORDTYPE_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_RECORDTYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Roles]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Roles](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Code] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Serial]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Serial](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BibId] [bigint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[FrequencyId] [bigint] NULL,
	[PatternId] [bigint] NULL,
	[StoreId] [bigint] NULL,
	[Note] [nvarchar](1000) NULL,
	[LastX] [int] NULL,
	[LastY] [int] NULL,
	[LastZ] [int] NULL,
	[IssueLength] [int] NULL,
	[WeekLength] [int] NULL,
	[SupplierId] [bigint] NULL,
	[MonthLenght] [int] NULL,
	[Locate] [varchar](50) NULL,
	[FirstTime] [datetime] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Serial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[SERIALITEM]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[SERIALITEM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUBSCRIPTION_ID] [bigint] NOT NULL,
	[SERIAL_SEQ] [nvarchar](500) NOT NULL,
	[SERIAL_SEQ_X] [int] NOT NULL,
	[SERIAL_SEQ_Y] [int] NOT NULL,
	[SERIAL_SEQ_Z] [int] NOT NULL,
	[IS_SPECIAL] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PLANNED_DATE] [datetime] NULL,
	[NOTE] [nvarchar](500) NULL,
	[PUBLISHED_DATE] [datetime] NULL,
	[CLAIM_DATE] [datetime] NULL,
	[CLAIM_COUNT] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SERIAL_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Store]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Store](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Postion] [nvarchar](100) NULL,
	[StoreTypeId] [bigint] NULL,
	[Code] [varchar](50) NULL,
	[Images] [nvarchar](400) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Store_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableStore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[StoreType]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[StoreType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_StoreType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_StoreType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[SubcriptionStatus]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[SubcriptionStatus](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_SubcriptionStatus_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SubcriptionStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Supplier]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Mobile] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
	[Bank] [nvarchar](200) NULL,
	[Mst] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[Position] [nvarchar](100) NULL,
	[Representative] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[System_description]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[System_description](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Descvn] [nvarchar](200) NOT NULL,
	[Val] [nvarchar](200) NOT NULL,
	[Unit] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_System_description_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[SystemInfo]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[SystemInfo](
	[LibraryName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Tel] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TableSystemInfo] PRIMARY KEY CLUSTERED 
(
	[LibraryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[SystemPara]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[SystemPara](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Code] [varchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SystemPara] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[thanhly]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[thanhly](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarcodeId] [bigint] NULL,
	[Sumited] [datetime] NULL,
	[UserId] [int] NULL,
	[Note] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_thanhly] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[trackingtolibrary]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[trackingtolibrary](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Readerid] [bigint] NULL,
	[UserId] [bigint] NULL,
	[Time] [datetime] NULL,
	[StoreId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_trackingtolibrary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[User]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](50) NULL,
	[Role] [int] NULL,
	[Department] [int] NULL,
	[Rolecms] [int] NULL,
	[Email] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TableUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[worksheet_field]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[worksheet_field](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Bib_Worksheet_Id] [int] NULL,
	[Field] [varchar](50) NULL,
	[L1] [varchar](50) NULL,
	[L2] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_worksheet_field_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_worksheet_field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[worksheet_subfield]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[worksheet_subfield](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Worksheet_Field_Id] [bigint] NULL,
	[Subfield] [varchar](50) NULL,
	[Value] [nvarchar](250) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_worksheet_subfield_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_worksheet_subfield] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Z3950Config]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Z3950Config](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[Host] [nvarchar](500) NULL,
	[Port] [varchar](50) NULL,
	[DatabaseName] [nvarchar](200) NULL,
	[Systax] [varchar](50) NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[GroupId] [bigint] NULL,
	[Url] [varchar](500) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Z3950Config_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Z3950Config] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Z3950Group]    Script Date: 27/04/2026 4:53:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Z3950Group](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Z3950Group_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Z3950Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [PrintBook].[Book_Group] ADD  CONSTRAINT [DF_PrintBook_Book_Group_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[book_group_detail] ADD  CONSTRAINT [DF_PrintBook_book_group_detail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[BookRequest] ADD  CONSTRAINT [DF_PrintBook_BookRequest_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Budget] ADD  CONSTRAINT [DF_PrintBook_Budget_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[C_Fine] ADD  CONSTRAINT [DF_PrintBook_C_Fine_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[C_Fine_type] ADD  CONSTRAINT [DF_PrintBook_C_Fine_type_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[C_photo] ADD  CONSTRAINT [DF_PrintBook_C_photo_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[c_queue_status] ADD  CONSTRAINT [DF_PrintBook_c_queue_status_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[C_renew] ADD  CONSTRAINT [DF_PrintBook_C_renew_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[C_renew_data] ADD  CONSTRAINT [DF_PrintBook_C_renew_data_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Cabinet] ADD  CONSTRAINT [DF_PrintBook_Cabinet_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[CheckIn] ADD  CONSTRAINT [DF_PrintBook_CheckIn_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[CheckOut] ADD  CONSTRAINT [DF_PrintBook_CheckOut_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[CircPlace] ADD  CONSTRAINT [DF_CircPlace_vitual]  DEFAULT ((1)) FOR [Vitual]
GO
ALTER TABLE [PrintBook].[CircPlace] ADD  CONSTRAINT [DF_PrintBook_CircPlace_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[d_key] ADD  CONSTRAINT [DF_PrintBook_d_key_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[D_Publisher] ADD  CONSTRAINT [DF_PrintBook_D_Publisher_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DFixField] ADD  CONSTRAINT [DF_PrintBook_DFixField_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DFixFieldPost] ADD  CONSTRAINT [DF_PrintBook_DFixFieldPost_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DFixFieldValue] ADD  CONSTRAINT [DF_PrintBook_DFixFieldValue_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DicAuthor] ADD  CONSTRAINT [DF_PrintBook_DicAuthor_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DicKeyword] ADD  CONSTRAINT [DF_PrintBook_DicKeyword_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[DicPublisher] ADD  CONSTRAINT [DF_PrintBook_DicPublisher_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[FrequencyMagazine] ADD  CONSTRAINT [DF_PrintBook_FrequencyMagazine_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Fund] ADD  CONSTRAINT [DF_PrintBook_Fund_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Inventory] ADD  CONSTRAINT [DF_PrintBook_Inventory_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[InventoryBarcode] ADD  CONSTRAINT [DF_PrintBook_InventoryBarcode_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Key] ADD  CONSTRAINT [DF_PrintBook_Key_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[KeyIn] ADD  CONSTRAINT [DF_PrintBook_KeyIn_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[KeyOut] ADD  CONSTRAINT [DF_PrintBook_KeyOut_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[KiemKe] ADD  CONSTRAINT [DF_PrintBook_KiemKe_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Language] ADD  CONSTRAINT [DF_PrintBook_Language_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[LinhVucNghienCuu] ADD  CONSTRAINT [DF_PrintBook_LinhVucNghienCuu_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Log_BienMuc] ADD  CONSTRAINT [DF_PrintBook_Log_BienMuc_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[LostBook] ADD  CONSTRAINT [DF_PrintBook_LostBook_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Lydophat] ADD  CONSTRAINT [DF_PrintBook_Lydophat_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[MarcRecordType] ADD  CONSTRAINT [DF_PrintBook_MarcRecordType_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[PartemMagazineDetail] ADD  CONSTRAINT [DF_PrintBook_PartemMagazineDetail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[PatternMagazine] ADD  CONSTRAINT [DF_PrintBook_PatternMagazine_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[PhongBan] ADD  CONSTRAINT [DF_PrintBook_PhongBan_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[PolicyCirc] ADD  CONSTRAINT [DF_PrintBook_PolicyCirc_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[PrintBookandDigital] ADD  CONSTRAINT [DF_PrintBook_PrintBookandDigital_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Private] ADD  CONSTRAINT [DF_PrintBook_Private_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Roles] ADD  CONSTRAINT [DF_PrintBook_Roles_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Serial] ADD  CONSTRAINT [DF_PrintBook_Serial_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[SERIALITEM] ADD  CONSTRAINT [DF_PrintBook_SERIALITEM_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Supplier] ADD  CONSTRAINT [DF_PrintBook_Supplier_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[System_description] ADD  CONSTRAINT [DF_PrintBook_System_description_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[SystemInfo] ADD  CONSTRAINT [DF__TableSyst__LibNa__108B795B]  DEFAULT ('') FOR [LibraryName]
GO
ALTER TABLE [PrintBook].[SystemInfo] ADD  CONSTRAINT [DF_PrintBook_SystemInfo_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[SystemPara] ADD  CONSTRAINT [DF_PrintBook_SystemPara_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[thanhly] ADD  CONSTRAINT [DF_PrintBook_thanhly_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[trackingtolibrary] ADD  CONSTRAINT [DF_PrintBook_trackingtolibrary_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[User] ADD  CONSTRAINT [DF__TableUser__Admin__1367E606]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [PrintBook].[User] ADD  CONSTRAINT [DF_PrintBook_User_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
