USE [ELIBAPI]
GO
/****** Object:  Table [cms].[ADS]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[ADS](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [varchar](200) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Link] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[SortOrder] [int] NULL,
	[AdsGroupId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[ADSGroup]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[ADSGroup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADSGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Banner]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Banner](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Url] [nvarchar](200) NULL,
	[Link] [nvarchar](200) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[SortOrder] [int] NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Banner_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Contact]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Contact](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Content] [nvarchar](1000) NULL,
	[Mobile] [varchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[ContactGroupId] [int] NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Title] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Contact_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[ContactGroup]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[ContactGroup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[SortOrder] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Counter]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Counter](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Counter] [bigint] NULL,
	[Submited] [datetime] NULL,
	[Ip] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Counter_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Counter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Customer]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Customer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[EventNews]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[EventNews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EventNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Item]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Item](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemTypeId] [bigint] NULL,
	[Name] [nvarchar](50) NULL,
	[Content] [nvarchar](500) NULL,
	[Link] [varchar](50) NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[ItemType]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[ItemType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [nvarchar](50) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Link]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Link](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[Link] [varchar](1000) NULL,
	[Description] [nvarchar](200) NULL,
	[Images] [varchar](200) NULL,
	[Status] [int] NULL,
	[LinkGroupId] [bigint] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Link_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[LinkGroup]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[LinkGroup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[Status] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_LinkGroup_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LinkGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[NewsComment]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[NewsComment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](4000) NULL,
	[NewsId] [bigint] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Title] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_NewsComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Page]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Page](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PageCode] [varchar](50) NULL,
	[PageName] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Page_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[PhotoAlbum]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[PhotoAlbum](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PortalId] [varchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Image] [varchar](100) NULL,
	[Code] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Status] [int] NULL,
	[SortOrder] [int] NULL,
	[Types] [varchar](100) NULL,
	[Postions] [varchar](50) NULL,
	[IsSpecial] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PhotoAlbum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Roles]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [varchar](50) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[App] [varchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_cms_Roles_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Supportonline]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Supportonline](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Yahoo] [varchar](50) NULL,
	[Skype] [varchar](50) NULL,
	[Facebook] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Wellcome] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_supportonline] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [cms].[Video]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cms].[Video](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Link] [varchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[Description] [ntext] NULL,
	[Submited] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Images] [varchar](500) NULL,
	[VideoType] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_video] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Class]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Class_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConfigImportReader]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfigImportReader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Value] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_ConfigImportReader_PublicId]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Name] [nvarchar](150) NULL,
	[ExchangeRate] [float] NULL,
	[Status] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Degree]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Degree](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Degree_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 27/04/2026 11:27:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Department_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ethenic]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ethenic](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Ethenic_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Ethenic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupReader]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupReader](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupReader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_GroupUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nation]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Nation_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Nation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Org]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Org](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[Order] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [varchar](200) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Org] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prof]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prof](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Prof] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reader](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Cardno] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[OrgId] [bigint] NULL,
	[ReaderTypeId] [bigint] NULL,
	[Blane] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
	[Password] [varchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Photo] [varchar](300) NULL,
	[LasttimeLogin] [datetime] NULL,
	[Status] [int] NULL CONSTRAINT [DF_Reader_status]  DEFAULT ((1)),
	[ClassId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[LastName] [nvarchar](100) NULL,
	[Sex] [int] NULL,
	[EthenicId] [bigint] NULL,
	[IssueDate] [datetime] NULL,
	[BirthDate] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[LastLogin] [datetime] NULL,
	[Images] [image] NULL,
	[DepartmentId] [bigint] NULL,
	[DegreeId] [bigint] NULL,
	[RequiredChangePassword] [int] NULL,
	[IsChangePassword] [int] NULL,
	[ProfId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_Reader_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReaderDelete]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReaderDelete](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[Cardno] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[OrgId] [bigint] NULL,
	[ReaderTypeId] [bigint] NULL,
	[Blane] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
	[Password] [varchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Photo] [varchar](300) NULL,
	[LasttimeLogin] [datetime] NULL,
	[Status] [int] NULL,
	[ClassId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[LastName] [nvarchar](100) NULL,
	[Sex] [int] NULL,
	[EthenicId] [bigint] NULL,
	[IssueDate] [datetime] NULL,
	[BirthDate] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[LastLogin] [datetime] NULL,
	[Images] [image] NULL,
	[DepartmentId] [bigint] NULL,
	[DegreeId] [bigint] NULL,
	[RequiredChangePassword] [int] NULL,
	[IsChangePassword] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_ReaderDelete_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ReaderDelete] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReaderInGroup]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReaderInGroup](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[GroupReaderId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_ReaderInGroup_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ReaderInGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReaderTrackingLogin]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReaderTrackingLogin](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[Cardnumber] [varchar](100) NULL,
	[LoginTime] [datetime] NULL,
	[LogOutTime] [datetime] NULL,
	[Ip] [varchar](100) NULL,
	[SessionId] [varchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_ReaderTrackingLogin_PublicId]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReaderType]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReaderType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[PortalId] [varchar](100) NOT NULL,
	[Language] [varchar](100) NOT NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_ReaderType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableReaderType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sip2Log]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sip2Log](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Request] [nvarchar](1000) NULL,
	[Response] [nvarchar](1000) NULL,
	[Submited] [datetime] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[systemparameter]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[systemparameter](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](300) NULL,
	[DescriptionVn] [nvarchar](350) NULL,
	[DescriptionEn] [nvarchar](350) NULL,
	[Value] [nvarchar](4000) NULL,
	[PortalId] [nvarchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_systemparameter_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_systemparameter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Action] [ntext] NULL,
	[Submited] [datetime] NULL,
	[PortalId] [varchar](50) NULL,
	[Ip] [varchar](50) NULL,
	[Application] [nvarchar](50) NULL,
	[Object] [nvarchar](300) NULL,
	[ActionType] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_dbo_UserLog_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_UserLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[collection]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [Ebook].[collection](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[SortOrder] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [varchar](200) NULL,
	[Allowdownload] [int] NULL,
	[Images] [nvarchar](500) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_collection_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_collection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[CollectionPermistionUser]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebook].[CollectionPermistionUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CollectionId] [bigint] NULL,
	[GroupUserId] [bigint] NULL,
	[CanAdd] [int] NULL,
	[CanEdit] [int] NULL,
	[CanDelete] [int] NULL,
	[CanView] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CollectionPermistionUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Ebook].[DigType]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[DigType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NULL,
	[DescriptionVn] [nvarchar](200) NULL,
	[DescriptionEn] [varchar](100) NULL,
	[PortalId] [varchar](50) NULL,
	[SortOrder] [int] NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_DigType_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DigType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[Ebook]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[Ebook](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[Cardnumber] [varchar](50) NULL,
	[Submited] [datetime] NULL,
	[Bookid] [bigint] NULL,
	[Page] [int] NULL,
	[Size] [bigint] NULL,
	[Type] [int] NULL,
	[Ip] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_book_log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[EbookFile]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[EbookFile](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Url] [varchar](2000) NULL,
	[Type] [varchar](50) NULL,
	[IsConvert] [int] NULL,
	[EbookId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[FileType] [varchar](50) NULL,
	[FileSize] [float] NULL,
	[FileExt] [varchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Source] [nvarchar](300) NULL,
	[FormatId] [int] NULL,
	[CheckSumAlgorithm] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[SortOrder] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_EbookFile_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_EbooFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[EbookLog]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[EbookLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReaderId] [bigint] NULL,
	[Cardnumber] [varchar](50) NULL,
	[Submited] [datetime] NULL,
	[Bookid] [bigint] NULL,
	[Page] [int] NULL,
	[Size] [bigint] NULL,
	[Type] [int] NULL,
	[Ip] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_EbookLog_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Ebook_log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[IntroBookCategory]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[IntroBookCategory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[Order] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[IsLogin] [int] NULL,
	[Description] [nvarchar](150) NULL,
	[Keyword] [nvarchar](150) NULL,
	[PageTitle] [nvarchar](150) NULL,
	[MetaDescription] [nvarchar](150) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_IntroBookCategory_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_IntroBookCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[IntroBooks]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[IntroBooks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Brief] [ntext] NULL,
	[Noidung] [ntext] NULL,
	[Image] [varchar](400) NULL,
	[Submited] [datetime] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[Order] [int] NULL,
	[IntroBookCategoryId] [bigint] NULL,
	[BibId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_IntroBooks_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_IntroBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[Item]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [Ebook].[Item](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Submited] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CollectionId] [bigint] NULL,
	[Images] [varchar](200) NULL,
	[TotalView] [int] NULL,
	[TotalDownload] [int] NULL,
	[Status] [tinyint] NULL,
	[SubjectId] [bigint] NULL,
	[LastUpdate] [datetime] NULL,
	[TypeId] [bigint] NULL,
	[UpdateBy] [bigint] NULL,
	[AllowDownload] [int] NULL,
	[Free] [int] NULL,
	[TopicId] [bigint] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [Ebook].[Item] ADD [PortalId] [varchar](50) NULL
ALTER TABLE [Ebook].[Item] ADD [Language] [varchar](50) NULL
ALTER TABLE [Ebook].[Item] ADD [Show] [int] NULL CONSTRAINT [DF_Item_show]  DEFAULT ((2))
ALTER TABLE [Ebook].[Item] ADD [IndexContent] [int] NULL
ALTER TABLE [Ebook].[Item] ADD [Share] [int] NULL
ALTER TABLE [Ebook].[Item] ADD [IsDelete] [int] NULL
ALTER TABLE [Ebook].[Item] ADD [CreatedRowBy] [bigint] NULL
ALTER TABLE [Ebook].[Item] ADD [UpdateRowBy] [bigint] NULL
ALTER TABLE [Ebook].[Item] ADD [CreatedRowDate] [datetime] NULL
ALTER TABLE [Ebook].[Item] ADD [UpdatedRowDate] [datetime] NULL
ALTER TABLE [Ebook].[Item] ADD [DepartmentId] [bigint] NULL
ALTER TABLE [Ebook].[Item] ADD [PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_Item_PublicId]  DEFAULT (newsequentialid())
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[itemXml]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[itemXml](
	[Id] [bigint] NOT NULL,
	[Title] [nvarchar](300) NULL,
	[Author] [nvarchar](200) NULL,
	[Publisher] [nvarchar](150) NULL,
	[PublishDate] [varchar](50) NULL,
	[Keyword] [nvarchar](300) NULL,
	[Xml] [nvarchar](2000) NULL,
	[OtherTitle] [nvarchar](300) NULL,
	[Page] [varchar](50) NULL,
	[OldAuthor] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_itemXml_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_itemXml] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[MetaDataFieldRegistery]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[MetaDataFieldRegistery](
	[MetaDataFieldId] [bigint] IDENTITY(1,1) NOT NULL,
	[MetaDataSchemaId] [bigint] NULL,
	[Field] [varchar](100) NULL,
	[Subfield] [varchar](100) NULL,
	[DescriptionVn] [nvarchar](200) NULL,
	[DescriptionEn] [varchar](300) NULL,
	[SortOrder] [int] NULL,
	[Status] [int] NULL,
	[Input] [varchar](100) NULL,
	[ExportField] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_MetaDataFieldRegistery_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MetaDataFieldRegistery] PRIMARY KEY CLUSTERED 
(
	[MetaDataFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[MetadataSchemaRegistry]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[MetadataSchemaRegistry](
	[MetadataSchemaId] [bigint] IDENTITY(1,1) NOT NULL,
	[NameSpace] [nvarchar](200) NULL,
	[ShortId] [varchar](200) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_MetadataSchemaRegistry_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MetaSchemaRegistry] PRIMARY KEY CLUSTERED 
(
	[MetadataSchemaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[MetaDataValue]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[MetaDataValue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MetaDataFieldId] [int] NULL,
	[Value] [nvarchar](3000) NULL,
	[Language] [varchar](100) NULL,
	[ItemId] [bigint] NULL,
	[Value_UnSign] [varchar](3000) NULL,
	[SortOrder] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_MetaDataValue_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_MetaDataValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[PolicyDigital]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebook].[PolicyDigital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReaderTypeid] [int] NULL,
	[Maxpage] [int] NULL,
	[Maxsize] [float] NULL,
	[Maxdocument] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_PolicyDigital_PublicId]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
/****** Object:  Table [Ebook].[PolicyDigitalByCollection]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebook].[PolicyDigitalByCollection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReaderTypeid] [int] NULL,
	[CollectionId] [int] NULL,
	[Maxpage] [int] NULL,
	[Maxsize] [float] NULL,
	[Maxdocument] [int] NULL,
	[Read] [int] NULL,
	[Comment] [int] NULL,
	[Download] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_PolicyDigitalByCollection_PublicId]  DEFAULT (newsequentialid())
) ON [PRIMARY]

GO
/****** Object:  Table [Ebook].[Subject]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [Ebook].[Subject](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[SortOrder] [int] NULL,
	[DDC] [varchar](50) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [varchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_Subject_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[TheodoiBienmucEbook]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Ebook].[TheodoiBienmucEbook](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Submited] [datetime] NULL,
	[DigId] [bigint] NULL,
	[Status] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_TheodoiBienmucEbook_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_log_bienmuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Ebook].[Topic]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [Ebook].[Topic](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[Order] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[IsLogin] [int] NULL,
	[Description] [nvarchar](150) NULL,
	[Keyword] [nvarchar](150) NULL,
	[PageTitle] [nvarchar](150) NULL,
	[MetaDescription] [nvarchar](150) NULL,
	[Language] [nvarchar](50) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [Ebook].[Topic] ADD [DDC] [varchar](50) NULL
ALTER TABLE [Ebook].[Topic] ADD [IsDelete] [int] NULL
ALTER TABLE [Ebook].[Topic] ADD [CreatedRowBy] [bigint] NULL
ALTER TABLE [Ebook].[Topic] ADD [UpdateRowBy] [bigint] NULL
ALTER TABLE [Ebook].[Topic] ADD [CreatedRowDate] [datetime] NULL
ALTER TABLE [Ebook].[Topic] ADD [UpdatedRowDate] [datetime] NULL
ALTER TABLE [Ebook].[Topic] ADD [DepartmentId] [bigint] NULL
ALTER TABLE [Ebook].[Topic] ADD [PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ebook_Topic_PublicId]  DEFAULT (newsequentialid())
 CONSTRAINT [PK_topic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EOffice].[Agency]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EOffice].[Agency](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[Order] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [varchar](200) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_
Agency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EOffice].[Document]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EOffice].[Document](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Brief] [nvarchar](2000) NULL,
	[DocumentTypeId] [bigint] NULL,
	[AgencyId] [bigint] NULL,
	[IssueDate] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[TypeId] [int] NULL,
	[Status] [int] NULL,
	[Sign] [nvarchar](100) NULL,
	[TopicId] [bigint] NULL,
	[GovDocNumber] [nvarchar](100) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EOffice].[DocumentFile]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EOffice].[DocumentFile](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Url] [varchar](500) NULL,
	[FileSize] [float] NULL,
	[DocumentId] [bigint] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DocumentFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EOffice].[DocumentType]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EOffice].[DocumentType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DocumentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EOffice].[Topic]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EOffice].[Topic](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[ParentId] [bigint] NULL,
	[Level] [bigint] NULL,
	[Status] [int] NULL,
	[Order] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Link] [varchar](200) NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [date] NULL,
	[IsDelete] [int] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_
EOfficeTopic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[Course]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Evaluate].[Course](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Name] [nvarchar](1000) NULL,
	[Credit] [int] NULL,
	[Status] [int] NULL,
	[DegreeId] [bigint] NULL,
	[OptionCourseId] [bigint] NULL,
	[KnowledgeId] [nchar](10) NULL,
	[FileUrl] [nvarchar](1000) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Course_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Evaluate].[CourseOption]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[CourseOption](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CourseOption] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[Degree]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[Degree](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Degree1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[Knowledge]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[Knowledge](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Know] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[MonHoc]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Evaluate].[MonHoc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaMon] [nvarchar](200) NULL,
	[TenMon] [nvarchar](500) NULL,
	[SoTinChi] [int] NULL,
	[DegreeId] [bigint] NULL,
	[KnowledgeId] [bigint] NULL,
	[OptionId] [int] NULL,
	[NguoiBienSoan] [nvarchar](300) NULL,
	[Active] [int] NULL,
	[Attachment] [nvarchar](500) NULL,
	[Note] [nvarchar](700) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Evaluate].[NganhHoc]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[NganhHoc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MajorsName] [nvarchar](1000) NULL,
	[ParentId] [bigint] NULL,
	[ProgramId] [bigint] NULL,
	[AmountStudent] [bigint] NULL,
	[SortOrder] [int] NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[MajorsCode] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_majors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[NganhMonHoc]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Evaluate].[NganhMonHoc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MajorId] [bigint] NULL,
	[MonHocId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_NganhMonHoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Evaluate].[Program]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[Program](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Description] [nvarchar](4000) NULL,
	[PortalId] [varchar](50) NULL,
	[Language] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Evaluate].[TaiLieu]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Evaluate].[TaiLieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BibId] [bigint] NULL,
	[Title] [nvarchar](1000) NULL,
	[Author] [nvarchar](500) NULL,
	[Publisher] [nvarchar](500) NULL,
	[Url] [nvarchar](500) NULL,
	[PublishDate] [varchar](50) NULL,
	[LoaiTaiLieu] [int] NULL,
	[LanXuatBan] [varchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[EBookId] [bigint] NULL,
	[MonHocId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TaiLieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[aacr2_field]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[aacr2_field](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Config_Id] [int] NULL,
	[Field] [varchar](50) NULL,
	[Starttp] [varchar](50) NULL,
	[Stoptp] [varchar](50) NULL,
	[Fieldindex] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_aacr2_field_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_aacr2_field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[aacr2_subfield]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[aacr2_subfield](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Config_Id] [int] NULL,
	[Field] [varchar](50) NULL,
	[Subfield] [varchar](50) NULL,
	[Starttp] [varchar](50) NULL,
	[Stoptp] [varchar](50) NULL,
	[Nexttp] [varchar](50) NULL,
	[Subfieldindex] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_aacr2_subfield_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_aacr2_subfield] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[ab_deliverer]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_deliverer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [bigint] NULL,
	[ReceiptName] [nvarchar](30) NULL,
	[ReceiptAddress] [nvarchar](150) NULL,
	[DelivererName] [nvarchar](50) NULL,
	[DelivererAddress] [nvarchar](150) NULL,
	[DelivererDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[UserIddeliverer] [int] NULL,
	[UserIdReceipt] [int] NULL,
	[Status] [int] NULL,
	[Store_Id] [int] NULL,
	[Receipt_Id] [int] NULL,
	[Note] [nvarchar](300) NULL,
	[Sign] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_deliverer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_deliverer_detail]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_deliverer_detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Deliverer_Id] [bigint] NULL,
	[BarcodeId] [bigint] NULL,
	[Store_Id] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_deliverer_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_deliverer_status]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_deliverer_status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_ab_deliverer_status_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ab_deliverer_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_move]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_move](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [bigint] NULL,
	[ReceiptName] [nvarchar](30) NULL,
	[ReceiptAddress] [nvarchar](150) NULL,
	[DelivererName] [nvarchar](50) NULL,
	[DelivererAddress] [nvarchar](150) NULL,
	[DelivererDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[UserIddeliverer] [int] NULL,
	[UserIdReceipt] [int] NULL,
	[Status] [int] NULL,
	[StoreDeliver_Id] [int] NULL,
	[StoreReceipt_Id] [int] NULL,
	[Note] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_move_detail]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_move_detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Move_Id] [bigint] NULL,
	[BarcodeId] [bigint] NULL,
	[Store_Id] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_order]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_order](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_Order] [datetime] NULL,
	[Duedate] [datetime] NULL,
	[Source_Id] [bigint] NULL,
	[Supplier_Id] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[CREATED_BY] [bigint] NULL,
	[Order_Name] [nvarchar](200) NULL,
	[Code] [bigint] NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](300) NULL,
	[CreatedDate] [datetime] NULL,
	[PaymentMethodId] [int] NULL,
	[FundId] [bigint] NULL,
	[Payment_status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_order_detail]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[ab_order_detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Order_Id] [bigint] NULL,
	[Bibid] [bigint] NULL,
	[Amount] [int] NULL,
	[Price] [float] NULL,
	[CURRENCY] [varchar](50) NULL,
	[Rate] [float] NULL,
	[Cancel_Reson] [nvarchar](200) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_order_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[ab_receipt]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_receipt](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Receipt_Date] [datetime] NULL,
	[Source_Id] [bigint] NULL,
	[Supplier_Id] [bigint] NULL,
	[BUDGET_ID] [bigint] NULL,
	[CREATED_BY] [bigint] NULL,
	[Receipt_Name] [nvarchar](200) NULL,
	[Code] [bigint] NULL,
	[Status] [int] NULL,
	[Payment_Status] [int] NULL,
	[Note] [nvarchar](300) NULL,
	[Store_Id] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[PaymentMethodId] [int] NULL,
	[FundId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_receipt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ab_receipt_detail]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[ab_receipt_detail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Receipt_Id] [bigint] NULL,
	[Bibid] [bigint] NULL,
	[Amount] [int] NULL,
	[Price] [float] NULL,
	[CURRENCY] [varchar](50) NULL,
	[Rate] [float] NULL,
	[Order_Id] [bigint] NULL,
	[Submited] [datetime] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ab_receipt_detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[ab_source]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ab_source](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_ab_source_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ab_source] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[ah_receipt]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[ah_receipt](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Receipt_Date] [datetime] NULL,
	[Source_Id] [bigint] NULL,
	[Supplier_Id] [bigint] NULL,
	[BUDGET_ID] [bigint] NULL,
	[CREATED_BY] [bigint] NULL,
	[Receipt_Name] [nvarchar](200) NULL,
	[Code] [bigint] NULL,
	[Status] [int] NULL,
	[Payment_Status] [int] NULL,
	[Note] [nvarchar](300) NULL,
	[Store_Id] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[PaymentMethodId] [int] NULL,
	[FundId] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ah_receipt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[Barcode]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Barcode](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[BarcodeNumber] [int] NULL CONSTRAINT [DF__TableBarc__Barco__164452B1]  DEFAULT ((0)),
	[Store] [int] NULL,
	[BibId] [bigint] NULL,
	[Status] [varchar](50) NULL,
	[Old_Status] [varchar](50) NULL,
	[Receipt_Id] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Barcode_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableBarcode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Barcode_Status]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Barcode_Status](
	[Id] [varchar](5) NOT NULL,
	[CommentStatus] [nvarchar](100) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Barcode_Status_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_bookStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Bib]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Bib](
	[Bibid] [bigint] IDENTITY(1,1) NOT NULL,
	[Mfn] [bigint] NULL,
	[CreatedTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdateBy] [bigint] NULL,
	[Status] [varchar](10) NULL,
	[Bib_worksheet_id] [bigint] NULL,
	[Bib_type_id] [bigint] NULL,
	[MARC_STATUS] [varchar](50) NULL,
	[Url] [nvarchar](600) NULL,
	[Images] [nvarchar](600) NULL,
	[EbookId] [bigint] NULL,
	[DocNum] [bigint] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_Bib_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_Bib] PRIMARY KEY CLUSTERED 
(
	[Bibid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[Bib_Type]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[Bib_Type](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Code] [varchar](50) NULL,
	[Bib_Level] [varchar](50) NULL,
	[Record_Type_Code] [varchar](50) NULL,
	[Materal_Type] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bib_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[bib_worksheet]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[bib_worksheet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Usmarc] [nvarchar](500) NULL,
	[Bib_Type_Id] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_bib_worksheet_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_bib_worksheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BibData]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[BibData](
	[BibDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[BibId] [bigint] NULL,
	[Field] [nvarchar](3) NULL,
	[SubField] [nvarchar](1) NULL,
	[Data] [nvarchar](4000) NULL,
	[Fk] [nvarchar](36) NULL,
	[L1] [nvarchar](1) NULL,
	[L2] [nvarchar](1) NULL,
	[Title] [nvarchar](255) NULL,
	[DataUnsign] [nvarchar](4000) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_BibData_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableBibData] PRIMARY KEY CLUSTERED 
(
	[BibDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BibDataOrder]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[BibDataOrder](
	[BibDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[BibId] [bigint] NULL,
	[Field] [nvarchar](3) NULL,
	[SubField] [nvarchar](1) NULL,
	[Data] [nvarchar](4000) NULL,
	[Fk] [nvarchar](36) NULL,
	[L1] [nvarchar](1) NULL,
	[L2] [nvarchar](1) NULL,
	[Title] [nvarchar](255) NULL,
	[DataUnsign] [nvarchar](4000) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TableBibDataOrder] PRIMARY KEY CLUSTERED 
(
	[BibDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BibOrder]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PrintBook].[BibOrder](
	[Bibid] [bigint] IDENTITY(1,1) NOT NULL,
	[Mfn] [bigint] NULL,
	[CreatedTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdateBy] [bigint] NULL,
	[Status] [varchar](10) NULL,
	[Bib_Worksheet_Id] [bigint] NULL,
	[Bib_Type_Id] [bigint] NULL,
	[MARC_STATUS] [varchar](50) NULL,
	[Url] [nvarchar](600) NULL,
	[Images] [nvarchar](600) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BibOrder] PRIMARY KEY CLUSTERED 
(
	[Bibid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PrintBook].[BibXML]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[BibXML](
	[BibId] [bigint] NOT NULL,
	[Title] [nvarchar](2000) NULL,
	[Author] [nvarchar](255) NULL,
	[Publisher] [nvarchar](255) NULL,
	[PublishDate] [nvarchar](255) NULL,
	[Price] [nvarchar](36) NULL,
	[Page] [nvarchar](255) NULL,
	[Bib_Worksheet_Id] [int] NULL,
	[Bib_Type_Id] [int] NULL,
	[Isbd] [nvarchar](4000) NULL,
	[Accr2] [nvarchar](4000) NULL,
	[Keyword] [nvarchar](300) NULL,
	[UserId] [int] NULL,
	[DDC] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrintBook_BibXML_PublicId]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TableBib] PRIMARY KEY CLUSTERED 
(
	[BibId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PrintBook].[BibXMLOrder]    Script Date: 27/04/2026 11:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PrintBook].[BibXMLOrder](
	[BibId] [bigint] NOT NULL,
	[Title] [nvarchar](2000) NULL,
	[Author] [nvarchar](255) NULL,
	[Publisher] [nvarchar](255) NULL,
	[PublishDate] [nvarchar](255) NULL,
	[Price] [nvarchar](36) NULL,
	[Page] [nvarchar](255) NULL,
	[Bib_Worksheet_Id] [int] NULL,
	[Bib_Type_Id] [int] NULL,
	[Isbd] [nvarchar](4000) NULL,
	[Accr2] [nvarchar](4000) NULL,
	[Keyword] [nvarchar](300) NULL,
	[UserId] [int] NULL,
	[DDC] [nvarchar](300) NULL,
	[IsDelete] [int] NULL,
	[CreatedRowBy] [bigint] NULL,
	[UpdateRowBy] [bigint] NULL,
	[CreatedRowDate] [datetime] NULL,
	[UpdatedRowDate] [datetime] NULL,
	[DepartmentId] [bigint] NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TableBibXmlOrder] PRIMARY KEY CLUSTERED 
(
	[BibId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [cms].[ADS] ADD  CONSTRAINT [DF_cms_ADS_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[ADSGroup] ADD  CONSTRAINT [DF_cms_ADSGroup_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[ContactGroup] ADD  CONSTRAINT [DF_ContactGroup_sortOder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [cms].[ContactGroup] ADD  CONSTRAINT [DF_GroupContact_status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [cms].[ContactGroup] ADD  CONSTRAINT [DF_GroupContact_language]  DEFAULT ('vie') FOR [Language]
GO
ALTER TABLE [cms].[ContactGroup] ADD  CONSTRAINT [DF_cms_ContactGroup_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[Customer] ADD  CONSTRAINT [DF_cms_Customer_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[EventNews] ADD  CONSTRAINT [DF_cms_EventNews_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[Item] ADD  CONSTRAINT [DF_cms_Item_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[ItemType] ADD  CONSTRAINT [DF_cms_ItemType_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[NewsComment] ADD  CONSTRAINT [DF_cms_NewsComment_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[PhotoAlbum] ADD  CONSTRAINT [DF_cms_PhotoAlbum_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[Supportonline] ADD  CONSTRAINT [DF_cms_Supportonline_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cms].[Video] ADD  CONSTRAINT [DF_cms_Video_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[ChucVu] ADD  CONSTRAINT [DF_dbo_ChucVu_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF_dbo_Course_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Currency] ADD  CONSTRAINT [DF_dbo_Currency_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[GroupReader] ADD  CONSTRAINT [DF_dbo_GroupReader_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[GroupUser] ADD  CONSTRAINT [DF_dbo_GroupUser_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Org] ADD  CONSTRAINT [DF_dbo_Org_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Prof] ADD  CONSTRAINT [DF_dbo_Prof_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [dbo].[Sip2Log] ADD  CONSTRAINT [DF_dbo_Sip2Log_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Ebook].[CollectionPermistionUser] ADD  CONSTRAINT [DF_Ebook_CollectionPermistionUser_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Ebook].[Ebook] ADD  CONSTRAINT [DF_Ebook_Ebook_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [EOffice].[Agency] ADD  CONSTRAINT [DF_EOffice_Agency_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [EOffice].[Document] ADD  CONSTRAINT [DF_EOffice_Document_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [EOffice].[DocumentFile] ADD  CONSTRAINT [DF_EOffice_DocumentFile_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [EOffice].[DocumentType] ADD  CONSTRAINT [DF_EOffice_DocumentType_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [EOffice].[Topic] ADD  CONSTRAINT [DF_EOffice_Topic_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[Course] ADD  CONSTRAINT [DF_Evaluate_Course_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[CourseOption] ADD  CONSTRAINT [DF_Evaluate_CourseOption_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[Degree] ADD  CONSTRAINT [DF_Evaluate_Degree_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[Knowledge] ADD  CONSTRAINT [DF_Evaluate_Knowledge_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[MonHoc] ADD  CONSTRAINT [DF_Evaluate_MonHoc_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[NganhHoc] ADD  CONSTRAINT [DF_Evaluate_NganhHoc_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[NganhMonHoc] ADD  CONSTRAINT [DF_Evaluate_NganhMonHoc_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[Program] ADD  CONSTRAINT [DF_Evaluate_Program_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [Evaluate].[TaiLieu] ADD  CONSTRAINT [DF_Evaluate_TaiLieu_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_deliverer] ADD  CONSTRAINT [DF_ab_deliverer_Sign]  DEFAULT ((1)) FOR [Sign]
GO
ALTER TABLE [PrintBook].[ab_deliverer] ADD  CONSTRAINT [DF_PrintBook_ab_deliverer_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_deliverer_detail] ADD  CONSTRAINT [DF_PrintBook_ab_deliverer_detail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_move] ADD  CONSTRAINT [DF_PrintBook_ab_move_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_move_detail] ADD  CONSTRAINT [DF_PrintBook_ab_move_detail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_order] ADD  CONSTRAINT [DF_PrintBook_ab_order_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_order_detail] ADD  CONSTRAINT [DF_PrintBook_ab_order_detail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_receipt] ADD  CONSTRAINT [DF_PrintBook_ab_receipt_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ab_receipt_detail] ADD  CONSTRAINT [DF_PrintBook_ab_receipt_detail_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[ah_receipt] ADD  CONSTRAINT [DF_PrintBook_ah_receipt_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[Bib_Type] ADD  CONSTRAINT [DF_PrintBook_Bib_Type_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[BibDataOrder] ADD  CONSTRAINT [DF_PrintBook_BibDataOrder_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[BibOrder] ADD  CONSTRAINT [DF_PrintBook_BibOrder_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [PrintBook].[BibXMLOrder] ADD  CONSTRAINT [DF_PrintBook_BibXMLOrder_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
